* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  background: url(/images/GrandLoungeBackground.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  backdrop-filter: blur(5px);
  height: auto;
  font-family: "Oswald", sans-serif;
  color: gold;
}

header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

header img {
  width: 35px;
  margin-left: 10px;
}

table {
  table-layout: fixed;
  width: 100%;
  text-transform: capitalize;
  border-bottom: 1px solid gold;
}

input {
  width: 50px;
  color: gold;
  background: none;
  border: 0;
  font-family: "Oswald", sans-serif;
}

.quantity-input[type="number"]::-webkit-inner-spin-button {
  opacity: 1;
}

input:hover {
  border: 1px solid gold;
}

.container {
  background: black;
  opacity: 0.7;
  width: 90%;
  margin: 0 auto;
  border-radius: 10px;
  padding: 50px;
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.items {
  opacity: 1;
}

.total p {
  font-size: 3em;
}

.totals {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.totals span {
  font-size: 3rem;
}

#clear-btn {
  padding: 10px 40px;
  background: none;
  border: 0;
  color: gold;
  border: 2px solid gold;
}

#clear-btn:hover {
  background-color: gold;
  color: black;
  opacity: 0.8;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

@media (max-width: 520px) {
  .totals {
    padding: 40px;
  }
}
